@charset "utf-8";

.bx-wrapper {
  border: none;
  box-shadow: none;
}

.bx-wrapper .bx-pager {
  bottom: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: rgb(99, 206, 248);
  width: 40px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: rgb(1, 173, 241);
}

.bx-controls-auto {
  display: none;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: center;
  width: 100%;
}

/* .bx-wrapper .bx-next {
  background-size: contain;
  background-position: 50% 60%;
  right: 30px;
  background: url(../images/화살표R.png) no-repeat;
} */

/* .bx-wrapper .bx-next {
  background-size: contain;
  background-position: 50% 60%;
  left: 30px;
  background: url(../images/화살표L.png) no-repeat;
} */

.bx-wrapper .bx-controls-direction a {
  width: 35px;
  height: 75px;
}

/* 
/* .bx-wrapper .bx-prev {
  left: 10px;
  background: url(../images/화살표L.png) no-repeat;
} */